<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-20">
            <div class="input-group">
      <span class="input-group-btn">
        <button
                class="btn btn-default"
                type="button"
                ng-click="$ctrl.onSearchUser($ctrl.username)">
            Go!
        </button>
      </span>
                <input type="text"
                       class="form-control"
                       ng-model="$ctrl.username"
                       ng-change="$ctrl.onSearchUser($ctrl.username)"
                       ng-model-options="{
                            updateOn: 'default blur',
                            debounce: { 'default': 500, 'blur': 0 }
                       }"
                       placeholder="Search for...">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>

<div class="container" ng-switch="$ctrl.dataState">
    <div ng-switch-when="loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div ng-switch-when="error">
        <p>Error message: {{$ctrl.errorMessage}}</p>
        Something wrong, please try again later!
    </div>
    <div ng-switch-when="empty"></div>
    <div ng-switch-when="loaded">
        <app-user-profile user="$ctrl.user"></app-user-profile>
    </div>
</div>
